body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-image: url(../../assets/images/sandy.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; background-size : cover;
	background-color: rgba(255, 255, 255, 0.3);
	background-size: cover;
}

.container {
	flex: 1 0 auto;
}
