  <div class="dark ngx-charts p-4">
    <h6 class=""><button type="button" (click)="viewAll()" class="float-right" >
      All
     <i class="fa fa-list" aria-hidden="true"></i>
    </button></h6>
    <ngx-charts-line-chart
    [curve]="curve"
    [gradient]="gradient"
    [showGridLines]="gridLines"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="wrapper"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </ngx-charts-line-chart>
  </div>

