// input, select {
//     border: 0;
//     outline: 0;
//     background: transparent;
//     border-bottom: 1px solid black;
//   }

form {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 20px;
    background-color: white;
}

.bg-blue {
    background-image: linear-gradient(to bottom right, #5085a5, #687864);
    filter: drop-shadow(2px 4px 6px black);
}
