<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Log</th>
      <th class="float-right" scope="col">
        <button type="button" (click)="addLog()">
          Log
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <th scope="row">{{ log.date }}</th>
      <td>{{ log.title }}</td>
      <td>{{ log.log }}</td>
      <td class="float-right">
        <button type="button" class="btn">
          <i class="text-warning fas fa-edit"></i>
        </button>
        <button type="button" class="btn">
          <i class="text-danger ml-2 fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
