<form
  (ngSubmit)="onAddAquarium(aquarium)"
  #f='ngForm'
  id="top"
  name="aquariumForm"
  class="col text"
  autocomplete="off"
>
  <div>
    <div class="form-group col-md-6">
      <label for="aquariumId"></label>
      <input
        
        name="aquariumId"
        class="form-control"
        id="aquariumId"
        [(ngModel)]="aquarium.aquariumId"
      />
    </div>
    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="tname">Name <strong class="text-danger">*</strong></label>
        <input
          type="text"
          id="nameField"
          name="name"
          class="form-control"
          placeholder="Enter Name"
          required
          [(ngModel)]="aquarium.name"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="type">Type <strong class="text-danger">*</strong></label>
        <select
          required
          name="type"
          class="form-control"
          id="typeField"
          [(ngModel)]="aquarium.type"
        >
        <option [selected]="true" [disabled]="true" [hidden]="true" value = "">Select type of water :</option>
        <option *ngFor="let op of options" [value]="op">{{op}}</option>
        </select>
      </div>
    </div>

    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="gallon">Gallons</label>
        <input
          type="number"
          min="0"
          name="gallon"
          class="form-control"
          id="gallonField"
          ng-pattern="/^[0-9]*$/"
          placeholder="Enter Number of Gallons"
          [(ngModel)]="aquarium.gallon"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="notes">Notes</label>
        <input
          type="text"
          name="notes"
          class="form-control"
          id="notesField"
          placeholder="Enter Notes"
          [(ngModel)]="aquarium.notes"
        />
      </div>
    </div>

    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="date">Date<strong class="text-danger"> *</strong></label>
        <input
          type="text"
          name="date"
          class="form-control"
          id="dateField"
          placeholder="MM/dd/yyyy"
          [(ngModel)]="aquarium.date"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="float-right">
      <input
        type="submit"
        id="submitButton"
        [hidden] = "aquarium.aquariumId"
        value="Add"
        class="btn btn-primary"
      />
      <input
        type="button"
        (click)="onUpdateAquarium(aquarium.aquariumId)"
        id="updateButton"
        [hidden] = "!aquarium.aquariumId"
        class="btn btn-primary text-white"
        value="Update"
      />
      <button
        type="button"
        id="clearForm"
        (click)="onClearForm()"
        class="btn btn-danger ml-2"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
<div>

</div>
