<form
  method="POST"
  action="aquarium-confirmation"
  id="top"
  modelAttribute="aquariumConfirmation"
  name="aquariumForm"
  class="col text"
  autocomplete="off"
>
  <div id="test">
    <input type="hidden" ng-model="ctrl.aquarium.aquariumId" />
    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="tname">Name <strong class="text-danger">*</strong></label>
        <input
          type="text"
          ng-model="ctrl.aquarium.name"
          id="nameField"
          name="name"
          class="form-control"
          placeholder="Enter Name"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="type">Type <strong class="text-danger">*</strong></label>
        <select
          required
          name="type"
          class="form-control"
          id="typeField"
          ng-model="ctrl.aquarium.type"
        >
          <option disabled selected value="" hidden
            >Select Type of Aquarium :</option
          >
          <option value="Fresh Water">Fresh Water</option>
          <option value="Salt Water">Salt Water</option>
          <option value="Brackish Water">Brackish Water</option>
        </select>
      </div>
    </div>

    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="gallon">Gallons</label>
        <input
          type="number"
          min="0"
          ng-model="ctrl.aquarium.gallon"
          name="gallon"
          class="form-control"
          id="gallonField"
          ng-pattern="/^[0-9]*$/"
          placeholder="Enter Number of Gallons"
        />
        <span
          ng-show="aquariumForm.gallon.$error.pattern"
          id="gallonErrorMessage"
          style="color: red"
          >Negative Numbers and Decimals are invalid!</span
        >
      </div>
      <div class="form-group col-md-6">
        <label for="notes">Notes</label>
        <input
          type="text"
          ng-model="ctrl.aquarium.notes"
          name="notes"
          class="form-control"
          id="notesField"
          placeholder="Enter Notes"
        />
      </div>
    </div>

    <div class="form-row col">
      <div class="form-group col-md-6">
        <label for="date">Date<strong class="text-danger"> *</strong></label>
        <input
          type="text"
          ng-model="ctrl.aquarium.date"
          name="date"
          class="form-control"
          id="dateField"
          placeholder="MM/dd/yyyy"
          required
          ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
        />
        <span
          ng-show="aquariumForm.date.$error.pattern"
          id="dateErrorMessage"
          style="color: red"
        >
          Date is not valid. Format date as : MM/dd/yyyy</span
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="float-right">
      <input
        type="submit"
        id="submitButton"
        ng-disabled="aquariumForm.$invalid"
        ng-hide="ctrl.aquarium.aquariumId"
        value="Add"
        class="btn btn-primary"
      />
      <input
        type="button"
        ng-disabled="aquariumForm.$invalid"
        id="updateButton"
        ng-hide="!ctrl.aquarium.aquariumId"
        ng-click="ctrl.update()"
        class="btn btn-primary text-white"
        value="Update"
      />
      <button
        type="button"
        id="clearForm"
        ng-click="ctrl.reset()"
        class="btn btn-danger"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
