<form [formGroup]="form" (ngSubmit)="onAddParameter()" name="parameterForm" class="text">
  <h3 class="text text-center pb-2 header">Add Parameters</h3>
  <div class="form-row">
    <div class="form-group col">
      <input
      hidden
      type="text"
      name="paramFk"
      class="form-control"
      formControlName="paramFk"
    />
        <input
          hidden
          name="parameterId"
          class="form-control"
          formControlName="parameterId"
        />
        <div class="form-group">
          <label for="lDate">Date <strong class="text-danger">*</strong></label>
          <input
            type="date"
            name="date"
            class="form-control"
            formControlName="date"
          />
          <div
          *ngIf="!form.get('date').valid && form.get('date').touched"
          class="ml-2 error"
        >
          Date is required
        </div>
        </div>
      </div>
      <div class="form-group col-3">
        <label for="lPh">PH <strong class="text-danger">*</strong></label>
        <input
          type="number"
          name="ph"
          class="form-control"
          formControlName="ph"
          placeholder="Enter PH"
        />
        <div
        *ngIf="!form.get('ph').valid && form.get('ph').touched"
        class="ml-2 error"
      >
        PH is required
      </div>
      </div>
    <div class="form-group col-3">
      <label for="lNitrite">Nitrite <strong class="text-danger">*</strong></label>
      <input
        type="number"
        name="nitrite"
        class="form-control"
        formControlName="nitrite"
        placeholder="Enter Nitrite"
      />
      <div
        *ngIf="!form.get('nitrite').valid && form.get('nitrite').touched"
        class="ml-2 error"
      >
        Nitrite is required
      </div>
    </div>
    <div class="form-group col-3">
      <label for="lNitrate">Nitrate <strong class="text-danger">*</strong></label>
      <input
        type="number"
        name="nitrate"
        class="form-control"
        formControlName="nitrate"
        placeholder="Enter Nitrate"
      />
      <div
        *ngIf="!form.get('nitrate').valid && form.get('nitrate').touched"
        class="ml-2 error"
      >
        Nitrate is required
      </div>
    </div>
    <div class="form-group col-3">
      <label for="ammonia">Ammonia <strong class="text-danger">*</strong></label>
      <input
        type="number"
        name="ammonia"
        class="form-control"
        formControlName="ammonia"
        placeholder="Enter ammonia"
      />
      <div
        *ngIf="!form.get('ammonia').valid && form.get('ammonia').touched"
        class="ml-2 error"
      >
        Ammonia is required
      </div>
    </div>
    <div class="form-group col-3">
      <label for="phosphate">Phosphate</label>
      <input
        type="number"
        name="phosphate"
        class="form-control"
        formControlName="phosphate"
        placeholder="Enter phosphate"
      />
    </div>
    <div class="form-group col-3">
      <label for="magnesium">Magnesium</label>
      <input
        type="number"
        name="magnesium"
        class="form-control"
        formControlName="magnesium"
        placeholder="Enter magnesium"
      />
    </div>
    <div class="form-group col-3">
      <label for="calcium">Calcium</label>
      <input
        type="number"
        name="calcium"
        class="form-control"
        formControlName="calcium"
        placeholder="Enter calcium"
      />
    </div>
    <div class="form-group col-3">
      <label for="potasium">Potasium</label>
      <input
        type="number"
        name="potasium"
        class="form-control"
        formControlName="potasium"
        placeholder="Enter potasium"
      />
    </div>
    <div class="form-group col-3">
      <label for="iodine">Iodine</label>
      <input
        type="number"
        name="iodine"
        class="form-control"
        formControlName="iodine"
        placeholder="Enter iodine"
      />
    </div>
    <div class="form-group col-3">
      <label for="alkalinity">Alkalinity</label>
      <input
        type="number"
        name="alkalinity"
        class="form-control"
        formControlName="alkalinity"
        placeholder="Enter alkalinity"
      />
    </div>
  </div>

  <div class="buttons mb-3">
    <div class="">
      <input
        type="submit"
        id="submitButton"
        value="Add"
        class="btn btn-primary"
        *ngIf="!parameter.parameterId"
        [disabled]="!form.valid"
      />
      <input
        (click)="onUpdate(parameterId)"
        id="updateButton"
        value="Update"
        class="btn btn-primary"
        *ngIf="parameter.parameterId"
        [disabled]="!form.valid"
      />
      <button type="button" class="btn btn-danger ml-2" (click)="reset()">
        Clear
      </button>
    </div>
  </div>
</form>
