<div class="blue-strip"></div>
<div class="container-fluid">
  <div class="row title mt-4">
    <div class="col-6 offset-lg-3">
      <h1 id="aqBuilder" class="text-center">Aquarium Builder</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Pretium viverra
        suspendisse potenti nullam. Pretium nibh ipsum consequat nisl vel
        pretium lectus quam id.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Pretium viverra
        suspendisse potenti nullam. Pretium nibh ipsum consequat nisl vel
        pretium lectus quam id.
      </p>
    </div>
    <!-- <div class="col-5 p-0">
      <img class="w-100" src="../../../assets/images/purple.png" alt="" />
    </div> -->
  </div>
  <div class="row bg-black">
    <div class="col-4">
      <img class="col" src="../../../assets/images/sea_horse.png" alt="" />
    </div>
    <div class="col-8">
      <div class="text-white col-6 offset-lg-3 mt-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</div>
