<nav class="navbar navbar-dark bg-light">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-inline my-2 my-lg-0">
    <a href="gallery/add" id="aquariumImage" class="navbar-brand text-dark mr-4">Add Image </a>
    <select [(ngModel)]="category" name="category" class="form-control mr-sm-2" id="category">
      <option *ngFor="let op of options" [value]="op">{{ op }}</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Filter <i class="ml-2 fas fa-sliders-h"></i>
    </button>
  </form>
  
</nav>
