<div>
  <app-delete-modal
    [deleteModal]="showModal"
    [aquarium]="showAq"
    *ngIf="showModal"
  ></app-delete-modal>
</div>

<h4 class="mt-4 text text-center pt-3">Aquarium List</h4>
<div class="row mb-5">
  <div class="col-4 my-2" *ngFor="let aq of service.aquariumList">
    <div class="card">
      <div id="aquariumName-{{ aq.name }}">
        <div
          class="card-header font-weight-bold text-center"
          name="cardName"
          id="cardName-{{ aq.name }}"
        >
          {{ aq.name }}
        </div>
        <div class="card-body">
          <div class="card-text row">
            <div class="list-unstyled col-4">
              <img
                class="image mt-3"
                src="../../../assets/images/fishBowl.png"
                alt="fish bowl"
              />
            </div>
            <ul class="list-unstyled col-8">
              <li>{{ aq.type }}</li>
              <li>{{ aq.gallon }}</li>
              <li>{{ aq.notes }}</li>
              <li>{{ aq.date | date: "mediumDate" }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button
          type="button"
          class="btn btn-info"
          (click)="onView(aq)"
          id="view-{{ aq.aquariumId }}"
        >
          View
          <img
            class="ml-1"
            alt="fish icon"
            src="https://img.icons8.com/officexs/16/000000/clown-fish.png"
          />
        </button>

        <button
          type="button"
          (click)="onEdit(aq)"
          class="btn btn-success mx-2"
          id="aquariumEdit-{{ aq.name }}"
          [routerLink]="['.']"
          fragment="edit"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="onDelete(aq)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
