<div class="p-4">
  <table class="table-hover table-striped table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">ph</th>
        <th scope="col">nitrate</th>
        <th scope="col">nitrite</th>
        <th scope="col">ammonia</th>
        <th scope="col">phosphate</th>
        <th scope="col">magnesium</th>
        <th scope="col">calcium</th>
        <th scope="col">potasium</th>
        <th scope="col">iodine</th>
        <th scope="col">alkalinity</th>
        <!-- <th class="" scope="col">
          <a class="ml-3" href="parameters-list">
            All
           <i class="fa fa-list" aria-hidden="true"></i>
          </a>
        </th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let par of paramList">
        <th scope="row">{{ par.date }}</th>
        <td>{{ par.ph }}</td>
        <td>{{ par.nitrate }}</td>
        <td>{{ par.nitrite }}</td>
        <td>{{ par.ammonia }}</td>
        <td>{{ par.phosphate }}</td>
        <td>{{ par.magnesium }}</td>
        <td>{{ par.calcium }}</td>
        <td>{{ par.potasium }}</td>
        <td>{{ par.iodine }}</td>
        <td>{{ par.alkalinity }}</td>
        <td class="">
          <!-- <button type="button" class="btn" (click)="onUpdate(log)">
            <i class="text-warning fas fa-edit"></i>
          </button> -->
          <button type="button" class="btn" (click)="onDelete(par.parameterId)">
            <i class="text-danger fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  