<!-- <form
[formGroup]="form"
(ngSubmit)="onAdd()"
name="imageForm"
class="col text">
<div class="form-group col-md-6">
    <label for="image">Upload Image</label>
    <input
      type="file"
      name="image"
      id="imageField"
      formControlName="image"
      (change)="onFileSelected($event)"
    />
  </div>
</form> -->
<div class="container">
    <h3>Image Uploading Module</h3>
    <div>
    <input type="file" (change)="onFileSelected($event)">
    <img [src]="imgURL" *ngIf="imgURL">
    </div>
    <input type="button" (click)="onUpload()" value="upload">
    <hr />
    <!-- <div class="container row">
        <div class="col-md-12">
            <div *ngIf=message>{{message}}</div>
        </div>
    </div> -->
    
    <div class="container row">
        <div class="col-md-6">
            <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
                name="name" />
        </div>
        <div class="col-md-6">
            <input type="button" (click)="getImage()" value="Get Image">
    
        </div>
    </div>
    
    <div class="container row">
        <div class="col-md-12">
          <img [src]="showImage">
        </div>
    </div>
