<div class="row bg-black">
  <div class="col-md-6 col-lg-3 my-3 test" *ngFor="let ls of images">
    <div class="image">
      <img class="img-thumbnail" [src]="ls.imageURL" />
      <div class="description text-center">
        <i class="fas fa-ellipsis-v"></i>
        <i class="fas fa-fish"></i>
        <!-- <div>{{ ls.category }}</div> -->
        <div>{{ ls.name }}</div>
      </div>
      <!-- <div><button class="btn btn-success" (click)="deleteImage(ls)">click here</button></div> -->
    </div>
  </div>
</div>
