<div class="container">
  <div class="card">
    <div class="card-header font-weight-bold text-center" name="cardName">
      <h4>{{ aquarium.name }}</h4>
    </div>
    <div class="card-body">
      <div class="card-text row">
        <div class="list-unstyled col-4">
          <img class="image mt-3" src="../../../assets/images/logo.png" alt="fish bowl" />
        </div>
        <ul class="list-unstyled col-8">
          <li>{{ aquarium.type }}</li>
          <li>{{ aquarium.gallon }}</li>
          <li>{{ aquarium.notes }}</li>
          <li>{{ aquarium.date | date: "mediumDate" }}</li>
        </ul>
      </div>
    </div>
    <div class="card-footer text-center">
      <a href="aquarium-list">
        <button type="button" class="btn btn-primary" id="backToAqList">
          Go back to Aquarium List
        </button>
      </a>
    </div>
  </div>
</div>

