<div class="row bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-4 p-0 mt-4">
        <app-livestock-aq-details></app-livestock-aq-details>
      </div>
      <div class="col-8">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home"
              >Livestock Form</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1"
              >Parameter Form</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Log Form</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <app-livestock-form></app-livestock-form>
          </div>
          <div class="tab-pane fade" id="menu1">
            <app-parameter-form></app-parameter-form>>
          </div>
          <div class="tab-pane fade" id="menu2">
            <app-log-form></app-log-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- <div class="col-2">
      <a href="gallery/add">
        <img
          class="image-add"
          src="../../../../assets/images/placeholder.png"
          alt="asdf"
        />
      </a>
    </div> -->
    <div class="my-4 col">
      <app-chart></app-chart>
    </div>
    
  </div>
  <div class="row">
    <div class="col-6">
      <app-log-list></app-log-list>
    </div>
    <div class="class col-6">
      <app-livestock-list></app-livestock-list>
    </div>
  </div>
</div>
