/* You can add global styles to this file, and also import other style files */

body{
  background-image: url(../src/assets/images/sandy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1 0 auto;
}

.image {
  width: 100%;
}

.card,
table {
  background-color: rgba(255, 255, 255, 0.8) !important;
  height: 100%;
}

.text {
  font-weight: bold;
}

input,
select {
  &.ng-touched,
  .ng-invalid {
    border: 2px solid red;
  }
  &.ng-valid {
    border: 2px solid green;
  }
  &.ng-untouched {
    border: 1px solid #ced4da;
  }
}

div {
   .error{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
  }
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}
